<launch>
  <arg name="ns" default="swerve_base" />

  <arg name="mpc" default="false" />
  <arg name="model" default="$(find swerve_description)/urdf/whole_robot_with_gripper.xacro" />
  <arg name="gazebo_gui" default="false" />
  <!-- <arg name="model" default="$(find swerve_description)/urdf/holonomic_mm_arm.urdf.xacro" /> -->

  <include file="$(find swerve_control)/launch/highlevel_controller.launch">
    <arg name="ns" value="$(arg ns)" />
    <arg name="use_radar" value="false" />
  </include>

  <arg name="action_server_config" value="$(find mm_ros_control)/config/task_space_action_server/swerve_base.yaml" />
   <!-- The URDF model of the robot -->
  <arg name="urdf_path" default="$(find swerve_description)/urdf/holonomic_mm_arm.urdf.xacro" />
  <!-- <arg name="urdf_path" default="$(find swerve_description)/urdf/whole_robot_with_gripper.xacro" /> -->
  <!-- The task file for the mpc. -->
  <arg name="taskFile" default="$(find mm_ros_control)/config/mpc/task_arm.info"/>
  <!-- The library folder to generate CppAD codegen into -->
  <arg name="libFolder" default="$(find mm_ros_control)/auto_generated" />
  
  <arg name="model_size_File" default="$(find mm_ros_control)/config/model_size.info" />

  <param name="/swerve_mpc/robot_description" command="$(find xacro)/xacro $(arg urdf_path)"/>
  <param name="taskFile" value="$(arg taskFile)" />
  <param name="libFolder" value="$(arg libFolder)" />
  <param name="model_size" value="$(arg model_size_File)" />
  <param name="pcd_file" value="$(find mm_ros_control)/data/cdf01.pcd"/>
  <!-- <param name="CdfLibFolder" value="$(find crisp_solver)/lib"/> -->
  
  <group ns="$(arg ns)">
    <node name="task_space_action_server" pkg="trapezoidal_tracker" type="task_space_action_server_node" output="screen" >
      <rosparam command="load" file="$(arg action_server_config)" />
    </node>
<!-- 
    <node name="crisp_solver_node" pkg="crisp_solver" type="crisp_solver_node" output="screen">
    </node> -->
  </group>
   
  
  <include file="$(find swerve_description)/launch/gazebo.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="gui" default="$(arg gazebo_gui)" />
    <arg name="ns" value="$(arg ns)" />
    <!-- <arg name="world_name" value="$(find swerve_description)/worlds/shelf.world" /> -->
  </include>

  <include file="$(find swerve_control)/launch/opc.launch"/>
  <node name="rosbag_record" pkg="rosbag" type="record" args="-a -O $(find swerve_control)/record/bag" output="screen" />
</launch>
