<launch>
  <!-- Load the URDF/XACRO file into the parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro $(find moma_description)/urdf/moma.xacro" />

  <!-- Spawn the robot in Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-param robot_description
              -urdf
              -model mecanum_robot
              -x 0 -y 0 -z 0
              -R 0 -P 0 -Y 0"/>

  <!-- Run the Gazebo simulator -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Start the robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="50.0"/>
    <param name="tf_prefix" type="string" value=""/>
  </node>

  <!-- Start joint state publisher -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen"/>

  <!-- Controller manager to control the robot -->

</launch>